body {
  background-color: #010818;
  color: white;
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar-brand {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.nav-link {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.nav-link:hover {
  color: #ffffff;
}

.btn-subscribe {
  background-color: #ffffff;
  color: rgb(0, 16, 49);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.about-section {
  padding: 4rem 0;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
}

.workspace-img {
  border-radius: 8px;
}

input {
  background-color: #2c3338;
  border: none;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input::placeholder {
  color: #6c757d;
}

.subscribe-form {
  max-width: 600px;
}

/* Video  */

.hero-image {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#hero-background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-content {
  z-index: 1;
  color: white;
  text-align: center;
}

/* Subs */

.btn-subscribe2 {
  background-color: #ffffff;
  color: rgb(0, 8, 32);
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.subscribe-form input,
.subscribe-form select {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #010818;
  color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
}


/* Footer */
.footer {
  background-color: #010818;
  padding: 3rem 0;
  color: white;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link:hover {
  color: white;
  transform: translateY(-3px);
  background-color: var(--your-brand-color);
}

.footer-links {
  margin-bottom: 1rem;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: white;
}

.separator {
  color: #666;
  margin: 0 10px;
}

.copyright {
  color: #999;
  font-size: 0.9rem;
  margin: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .btn-subscribe {
    width: 100%;
    margin-top: 1rem;
  }

  .footer {
    padding: 2rem 0;
  }

  .social-links {
    gap: 1rem;
  }

  .social-link {
    width: 35px;
    height: 35px;
  }
}